@use '@angular/material' as mat;
@include mat.core();
@include mat.legacy-core(); // this is the important line

/* ======== Angular material custom themes ======== */
$my-custom-primary: mat.define-palette(mat.$cyan-palette);
$my-custom-accent: mat.define-palette(mat.$brown-palette, 400, 200, A100);
$my-custom-warn: mat.define-palette(mat.$orange-palette);

$my-custom-theme: mat.define-light-theme((
 color: (
   primary: $my-custom-primary,
   accent: $my-custom-accent,
   warn: $my-custom-warn
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

// add your regular theme definition here
@include mat.all-component-themes($my-custom-theme);
@include mat.all-legacy-component-themes($my-custom-theme); // this is the important line

.mat-tab-body-wrapper {
  height: 100%;
}
